/** ----------- General styling ------------ **/
* {
    font-family: Helvetica, sans-serif;
    color: #EEEEEE
}

html {
    scroll-behavior: smooth;
}

body {
    background: #333333;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 34px;
    margin-top: 0px;
}

a {
    text-decoration: none;
}

/* Site wide animations */
.top-ten, .about-container {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.header-bar {
    margin-top: -50px;
    animation: slideIn ease-in-out .4s;
    animation-delay: .7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        margin-top: -50px;
    }

    100% {
        margin-top: 50px;
    }
}
/** ------------------------------------------ **/

/** ----------- Navigation bar ------------ **/
.header-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Button back to home */
.home-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #444444;
    border-radius: 50%;
    border: none;
    filter: drop-shadow(0 0 0.75rem #222222);
    margin-left: 185px;
    transition: transform 500ms ease;
}

.home-icon:hover {
    transform: scale(0.9);
}

.home-icon img {
    width: 18px;
    height: 18px;
    transition: transform .3s ease-in-out;
}

.home-icon:hover img {
    transform: translate(-3px, 0);
}

/* Middle navigation toggle */
.nav-toggle {
    display: none;
}

/* Hamburger menu */
.nav-button {
    --button-color: #EEEEEE;
    background: #444444;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    filter: drop-shadow(0 0 0.75rem #222222);
    margin-right: 200px;
    overflow: hidden;
    transition: transform 500ms ease;
    cursor: pointer;
}

.nav-button:hover {
    transform: scale(0.9);
}

.nav-button .hamburger {
    transition: translate 1s, rotate 1s;
}

.nav-button[aria-expanded="true"] .hamburger {
    --button-color: url(#linear);
    translate: 3px -2px;
    rotate: .125turn;
}

.nav-button .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
}

.nav-button[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}

.primary-navigation {
    position: absolute;
    right: 200px;
    top: 60px;
    background: #444444;
    width: 210px;
    height: 155px;
    border-radius: 10px;
    transform-origin: top right;
    filter: drop-shadow(0 0 0.75rem #222222);
    animation: slideUp ease-in-out .3s;
    animation-fill-mode: forwards;
}

@keyframes slideUp {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.4);
        opacity: 0;
        display: none;
    }
}

.primary-navigation[data-visible] {
    display: block;
    animation: slideDown ease-in-out .3s;
}

@keyframes slideDown {
    0% {
        transform: scale(0.4);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.nav-list {
    list-style: none;
    padding-inline: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    width: 180px;
    height: 45px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 20px;
    cursor: pointer;
}

.nav-option:hover {
    background: #666666;
}

.nav-list img {
    width: 20px;
    height: 20px;
}
/** ------------------------------------------ **/

/** ----------- About piece ------------ **/
.about-container {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.about {
    width: 600px;
    text-align: left;
}

.main-heading {
    animation: background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        #800080,
        #EE82EE,
        #FFC0CB,
        #800080
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.about-container p {
    margin-bottom: 30px;
}

.about-container ul {
    margin-top: -20px;
    margin-bottom: 30px;
}
/** ------------------------------------------ **/

/** ----------- Flip card ------------ **/
.top-ten {
    display: flex;
    justify-content: center;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 50px;
}

.favourite-games {
    margin-left: 100px;
    position: relative;
    width: 300px;
    height: 520px;
    transform: translateX(-50px);
}

.carousel-track-container {
    height: 100%;
    position: relative;
    border-radius: 16px;
    filter: drop-shadow(0 0 0.75rem #222222);
    overflow: hidden;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform .25s ease-in-out;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: transform 500ms ease;
}

.carousel-slide:hover {
    transform: scale(0.98);
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel-button-left {
    left: -35px;
}

.carousel-button-right {
    right: -35px;
}

.carousel-button img{
    width: 18px;
    height: 18px;
    transition: transform .3s ease-in-out;
}

.carousel-button-right:hover img{
    transform: translate(3px, 0);
}

.carousel-button-left:hover img{
    transform: translate(-3px, 0);
}

.is-hidden {
    display: none;
}

.flip-card {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 430px;
    transform: translateY(50px);
    perspective: 1000px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.flip-card-inner.is-flipped {
    transform: rotateY(180deg);
}

.flip-card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
}

.flip-card-face-front {
    background-image: linear-gradient(to bottom right, #EE82EE, #800080);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-face-front h2{
    color: #FFFFFF;
    font-size: 24px;
    padding-inline: 20px;
    text-align: center;
}

.flip-card-face-back {
    background-color: #444444;
    transform: rotateY(180deg);
}

.flip-card-face-back h2{
    margin-top: 60px;
    font-size: 18px;
    text-shadow: 1.5px 1.5px #222222;
}

.flip-card-content {
    width: 100%;
    height: 100%;
}

.flip-card-header {
    position: relative;
    padding: 30px 15px 10px;
}

.flip-card-header p{
    font-size: 12px;
    margin: 0;
    margin-top: -10px;
    text-shadow: 2px 2px #222222;
}

.flip-card-header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.flip-card-body {
    padding-inline: 20px;
    padding-bottom: 30px;
}

.flip-card-body p{
    font-size: 14px;
}

#intro-card .flip-card-header {
    padding: 0px 20px 10px;
}

#intro-card .flip-card-header h2 {
    text-shadow: none;
}

#intro-card .flip-card-body p {
    font-size: 10.5px;
}

#last-of-us-2 .flip-card-header{
    border-radius: 0 0 50% 0;
    background-image: url("/assets/TLOU2.png");
    background-size: cover;
}

#last-of-us-2 .flip-card-body p{
    font-size: 10.5px;
}

#last-of-us .flip-card-header{
    border-radius: 0 0 50% 0;
    background-image: url("/assets/TLOU.png");
    background-size: cover;
}

#last-of-us .flip-card-body p{
    font-size: 10.5px;
}

#lis .flip-card-header{
    border-radius: 0 0 50% 0;
    background-image: url("/assets/lis.png");
    background-size: cover;
}

#lis .flip-card-body p{
    font-size: 10.5px;
}

#uncharted-lost-legacy .flip-card-header{
    border-radius: 0 0 50% 0;
    background-image: url("/assets/unchartedLL.png");
    background-size: cover;
}

#witcher .flip-card-header{
    border-radius: 0 0 50% 0;
    background-image: url("/assets/witcher.png");
    background-size: cover;
}

#bioshock .flip-card-header{
    border-radius: 0 0 50% 0;
    background-image: url("/assets/bioshock.png");
    background-size: cover;
}

#uncharted4 .flip-card-header{
    border-radius: 0 0 50% 0;
    background-image: url("/assets/uncharted4.png");
    background-size: cover;
}

#zelda .flip-card-header{
    border-radius: 0 0 50% 0;
    background-image: url("/assets/zelda.png");
    background-size: cover;
}

#kena .flip-card-header{
    border-radius: 0 0 50% 0;
    background-image: url("/assets/kena.png");
    background-size: cover;
}

#ori .flip-card-header{
    border-radius: 0 0 50% 0;
    background-image: url("/assets/ori.png");
    background-size: cover;
}
/** ------------------------------------------ **/

/** ----------- Back to top button ------------ **/
.progress {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 3px solid #444444;
    position: fixed;
    bottom: 50px;
    right: 200px;
    display: grid;
    place-items: center;
    z-index: 3;
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: transform 500ms ease;
}

.progress-value {
    display: block;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    background: #444444;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.progress:hover {
    transform: scale(0.9);
}

.progress:hover img{
    transform: translate(0, -3px);
}

.progress-value img {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    transition: transform .3s ease-in-out;
}

.hide-btt-btn {
    animation: fadeOutAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .2s;
}

/* Hides the btt button when the webpage is first loaded */
.hide-on-start {
    visibility: hidden;
}
/** ------------------------------------------ **/

/** ----------- Footer ------------ **/
footer {
    background: #444444;
    position: relative;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    bottom: -10vw;
    padding-block: 50px;
}

footer p {
    text-align: center;
    font-size: 12px;
}

footer ul{
    padding-left: 0;
}

footer li {
    transition: transform 500ms ease
}

footer li:hover {
    transform: scale(0.9);
}

.social-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.social-links img{
    width: 35px;
    height: 35px;
}
/** ------------------------------------------ **/

/** ----------- Media Queries ------------ **/
@media only screen and (max-width: 1054px) {
    .nav-button {
        margin-right: 50px;
    }

    .home-icon {
        margin-left: 35px;
    }

    .progress {
        right: 50px;
    }

    .primary-navigation {
        right: 50px;
    }
}

@media only screen and (max-width: 784px) {
    h1 {
        font-size: 32px;
    }

    .nav-toggle label {
        font-size: 14px;
        width: 70px;
    }

    p, li {
        font-size: 14px;
    }
    
    .selector {
        width: 64px;
    }
    
    .stories:checked ~ .selector{
        left: 78px;
    }
    
    .blogs:checked ~ .selector{
        left: 151px;
    }

    .home-icon {
        margin-left: 10px;
    }

    .nav-button {
        margin-right: 20px;
    }

    .about {
        width: 80%;
    }

    .top-ten {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .flip-card {
        width: 250px;
        height: 430px;
    }

    .favourite-games {
        width: 250px;
    }

    .flip-card-face-back h2{
        margin-top: 20px;
    }

    #last-of-us-2 .flip-card-body p,
    #last-of-us .flip-card-body p, 
    #lis .flip-card-body p {
        font-size: 9.7px;
    }

    .flip-card-body p {
        font-size: 13px;
    }
}
/** ------------------------------------------ **/