body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 200vh;
    transform: translate(-50%, -25%);
    pointer-events: none;
    z-index: -1;
}

#thelastofusbty::before {
    background: radial-gradient(circle at center, rgba(48, 104, 80, 0.4), rgba(48, 104, 80, 0) 70%);
}

#thearchitecthestia::before {
    background: radial-gradient(circle at center, rgba(189, 160, 131, 0.4), rgba(189, 160, 131, 0) 70%);
}

#projectphoebe::before {
    background: radial-gradient(circle at center, rgba(150, 150, 150, 0.4), rgba(150, 150, 150, 0) 70%);
}

#itp1::before {
    background: radial-gradient(circle at center, rgba(50, 100, 85, 0.4), rgba(50, 100, 85, 0) 70%);
}

#givefund::before {
    background: radial-gradient(circle at center, rgba(56, 183, 107, 0.4), rgba(56, 183, 107, 0) 70%);
}

#tlou2analysis::before {
    background: radial-gradient(circle at center, rgba(39, 63, 79, 0.4), rgba(39, 63, 79, 0) 70%);
}

#pixelpulse::before {
    background: radial-gradient(circle at center, rgba(158, 170, 195, 0.4), rgba(158, 170, 195, 0) 70%);
}

#djapplication::before {
    background: radial-gradient(circle at center, rgba(0, 130, 130, 0.4), rgba(0, 130, 130, 0) 70%);
}

#musicvisualizer::before {
    background: radial-gradient(circle at center, rgba(172, 32, 67, 0.4), rgba(172, 32, 67, 0) 70%);
}

.back-button {
    position: fixed;
    display: flex;
    width: max-content;
    gap: 8px;
    top: 30px;
    left: 40px;
}

.back-button img {
    width: 18px;
    transition: transform .3s ease-in-out;
}

.back-button:hover p {
    text-decoration: underline;
}

.back-button:hover img {
    transform: translate(-3px, 0px);
}

.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-top: 140px;
}

.opening h1 {
    font-size: 60px;
    width: 80%;
    text-align: center;
    margin-bottom: 0px;
}

.intro-subheading {
    font-size: 18px;
    color: var(--font-secondary-color);
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 60px;
}

.opening img {
    border-radius: 10px;
    width: 70%;
}

.external-link {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.external-link p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.external-link img {
    width: 18px;
    transition: transform .3s ease-in-out;
    margin-bottom: 0px;
    margin-top: 0px;
}

.external-link:hover p {
    text-decoration: underline;
}

.external-link:hover img {
    transform: translate(2px, -2px);
}

.external-link:hover .download-icon {
    transform: translate(0px, 2px);
}

.intro-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 80px;
    width: 70%;    
}

.tlou2 {
    grid-template-rows: .25fr .75fr;  
}

.intro-info > :nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-right: 60px;
    margin-bottom: 30px;
}

.intro-info > :nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-right: 60px;
}

.intro-info > :nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-left: 60px;
}

.intro-info-section h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
}

.intro-info-section p {
    color: var(--font-secondary-color);
    margin-top: 8px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1.5;
}

.list-heading {
    text-decoration: underline;
    margin-block: 10px;
    font-size: 16px;
    color: var(--font-secondary-color);
}

.second-heading {
    margin-top: 60px;
}

@media only screen and (min-width: 785px) and (max-width: 1000px){
    .opening h1 {
        width: 85%;
    }
    
    .opening img {
        width: 85%;
    }

    .external-link img {
        width: 18px;
    }

    .intro-info {
        width: 85%;
    }

    .intro-info > :nth-child(1) {
        margin-right: 30px;
    }
    
    .intro-info > :nth-child(2) {
        margin-right: 30px;
    }
    
    .intro-info > :nth-child(3) {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 784px) {
    .back-button p {
        display: none;
    }

    .back-button {
        top: 15px;
        left: 15px;
        background-color: red;
        background: rgba( 255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);
        border-radius: 50%;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 10px;
        z-index: 99;
    }

    .opening {
        margin-top: 100px;
    }
    
    .opening h1 {
        font-size: 42px;
        line-height: 1.2;
        width: 98%;
    }

    .intro-subheading {
        font-size: 12px;
        margin-bottom: 30px;
    }
    
    .opening img {
        border-radius: 10px;
        width: 98%;
    }

    .external-link {
        margin-top: 20px;
    }
    
    .external-link p{
        font-size: 12px;
    }
    
    .external-link img {
        width: 14px;
    }

    .intro-info {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: none; 
        margin-top: 40px;
        width: 98%;
    }
    
    .intro-info > :nth-child(1) {
        grid-column: 1 / 2;
        grid-row: auto;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    
    .intro-info > :nth-child(2) {
        grid-column: 1 / 2;
        grid-row: auto;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    
    .intro-info > :nth-child(3) {
        grid-column: 1 / 2;
        grid-row: auto;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .second-heading {
        margin-top: 40px;
    }
}