html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.page-navigation {
    position: fixed;
    top: 150px;
    right: 8%;
    z-index: 10;
}

.page-navigation > p {
    font-size: 11px;
    color: var(--font-secondary-color);
    letter-spacing: 1.1px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 20px;
    
}

li a {
    font-size: 11px;
    color: var(--font-secondary-color);
    font-weight: 400;
}

li:hover a {
    filter: brightness(1.5);
}

li a.active {
    color: var(--font-color);
}

@media only screen and (max-width: 1200px) {
    .page-navigation {
        display: none;
    }
}