.cpucity-section-one {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.cpucity-section-one img {
    border: #444444 solid 1.5px;
    border-radius: 15px;
    height: auto;
    width: 70%;
}

.cpucity-section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    gap: 20px;
}

.cpucity-section-two img {
    border: #444444 solid 1.5px;
    border-radius: 15px;
    height: auto;
    width: 45%;
}

.tloubty-section-one {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: inherit;
}

.tloubty-section-one img {
    border: #444444 solid 1.5px;
    border-radius: 15px;
    height: 50%;
}

.tloubty-section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: inherit;
}

.tloubty-section-two img {
    border: #444444 solid 1.5px;
    border-radius: 15px;
    height: 30%;
}

.tloubty-section-three {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.tloubty-section-three img {
    border: #444444 solid 1.5px;
    border-radius: 15px;
    height: 55%;
    width: auto;
}

.tloubty-section-four {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: inherit;
}

.tloubty-section-four img {
    border: #444444 solid 1.5px;
    border-radius: 15px;
    height: 80%;
}

.tloubty-section-five {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: inherit;
    padding-inline: 20px;
}

.tloubty-section-five img {
    border: #444444 solid 1.5px;
    border-radius: 15px;
    height: 38%;
}

.tloubty-section-six {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.tloubty-section-six img {
    border: #444444 solid 1.5px;
    border-radius: 15px;
    height: 55%;
    width: auto;
}


@media only screen and (max-width: 768px) {
    .cpucity-section-one img {
        width: 85%;
    }

    .cpucity-section-two {
        flex-direction: column;
    }
    
    .cpucity-section-two img {
        border: #444444 solid 1.5px;
        border-radius: 15px;
        height: auto;
        width: 60%;
    }

    .tloubty-section-one {
        flex-direction: column;
        gap: 20px;
    }
    
    .tloubty-section-one img {
        height: 40%;
    }

    .tloubty-section-two {
        flex-direction: column;
        gap: 15px;
    }
    
    .tloubty-section-two img {
        border: #444444 solid 1.5px;
        border-radius: 15px;
        height: 27%;
    }

    #game-sub-one {
        height: 250px;
    }

    .tloubty-section-three img {
        height: 65%;
    }

    .tloubty-section-four {
        flex-direction: column;
        gap: 10px;
    }

    .tloubty-section-four img {
        height: 42%;
    }

    .tloubty-section-five {
        gap: 10px;
        padding-inline: 5px;
    }

    .tloubty-section-five img {
        height: auto;
        flex-wrap: nowrap;
        width: 58%;
    }

    .tloubty-section-six img {
        width: 95%;
        height: auto;
    }
}

/* Edge cases */
@media (min-width: 1200px){
    .tloubty-section-three img {
        width: 90%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1205px){
    .tloubty-section-five {
        gap: 10px;
        padding-inline: 0px;
    }

    .tloubty-section-five img {
        height: 32%;
        width: auto;
    }
}