.feedback-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: first baseline;
    gap: 40px;
    width: 70%;
}

.feedback-border {
    position: relative;
    width: 300px;
    height: calc(minmax(140px, max-content) + 10px);
    border-radius: 20px;
    background: linear-gradient(to bottom, #171717, #181818);
    border: #444444 solid .75px;
}

.feedback-comment {
    position: relative;
    background: linear-gradient(to bottom, #181818, #171717);
    border: #444444 solid .75px;
    margin: 5px;
    width: 290px;
    height: minmax(140px, max-content);
    border-radius: 15px;

}

.feedback-name {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 20px;
    margin-top: 15px;
    width: max-content;
}

.feedback-name img{
    width: 20px;
}

.feedback-name p{
    font-size: 14px;
    margin: 0;
    color: var(--font-secondary-color);
}

.feedback-comment > p {
    /* color: var(--font-secondary-color); */
    font-size: 14px;
    margin-left: 20px;
    width: calc(290px - 40px);
    font-weight: 400;
    line-height: 1.5;
}

@media only screen and (min-width: 785px) and (max-width: 1000px){
    .feedback-container {
        width: 85%;
    }
}

@media only screen and (max-width: 784px) {
    .feedback-container {
        width: 98%;
    }
}