.chat-button{
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 60px;
    height: 60px;

    background: rgba( 255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transition: transform 500ms ease;
    cursor: pointer;
    z-index: 99;
}

.chat-button:hover{
    transform: scale(0.9);
}

.chat-button-images {
    position: relative;
    width: inherit;
    height: inherit;
}

.default-icon, 
.bitmoji-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.8s ease;
}

.default-icon {
    width: 30px;
    height: 30px;
    opacity: 1;
}

.bitmoji-icon {
    width: 50px;
    height: 50px;
    opacity: 0;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);

    background: rgba( 255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    padding: 8px 12px;
    
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
  
.chat-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.chat-button.chat-open .tooltip {
    opacity: 0;
    visibility: hidden;
}

.chat-box {
    position: fixed;
    bottom: 105px;
    right: 30px;
    height: 450px;
    width: 300px;
    z-index: 100;

    border-radius: 20px;
    background: linear-gradient(to bottom, #171717, #181818);
    border: #444444 solid .75px;
    
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.chat-box.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.chat-box-content {
    position: fixed;
    overflow-y: auto;
    height: 422px;
    width: 284px;
    background: rgb(30, 30, 30);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 100;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
}

.chat-box-content::-webkit-scrollbar {
    display: none;
}

.chat-options {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-inline: 10px;
    padding-bottom: 30px;

    opacity: 0;
    visibility: hidden;
}

.chat-options.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.chat-option {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    width: max-content;
    transition: background 0.2s ease;
}

.chat-option:hover {
    background: rgba(255, 255, 255, 0.1);
}

.chat-message {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    white-space: normal;
    overflow: hidden;
    width: 100%; 
    display: inline-block;
}

.kyle-message {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    white-space: normal;
    overflow: hidden;
    width: 80%;
    display: inline-block;
    margin: 0;
    margin-top: 5px;
}

.chat-bot-message-container {
    padding-inline: 10px;
    display: flex;
    align-items: flex-start;
    gap: 7px;
}

.chat-bot-message-container img {
    aspect-ratio: 1;
    width: 25px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.user-message {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 70%;
    width: max-content;
    margin: 0;
    margin-block: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding-inline: 12px;
    padding-block: 9px;
}

.chat-user-message-container {
    display: flex;
    padding-inline: 10px;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
}