.introduction-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 120px;
}

@keyframes image-animation {
    25% {opacity: .5;}
    85%, 100% {opacity: 0; scale: 10}
}

.introduction {
    width: 60%;
    max-width: 880px;
    text-align: center;
}

.introduction > p:first-child{
    color: var(--font-secondary-color);
    text-align: left;
    font-size: 13px;
    margin-bottom: -5px;
}

.introduction-details {
    margin-top: -20px;
    font-size: 16px;
    text-align: right;
}

.introduction-details span {
    color: var(--font-secondary-color)
}

.main-heading {
    font-family: Baksoda, cursive;
    font-size: 70px;
    animation: background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        #800080,
        #EE82EE,
        #FFC0CB,
        #800080
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* padding-left: 16px; */
    padding-right: 8px;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

/* Media Queries */
@media only screen and (max-width: 920px) {
    .introduction-container {
        margin-top: 110px;
        margin-bottom: 30px;
    }

    .introduction > p:first-child{
        margin-bottom: 0px;
        font-size: 11px;
    }

    h1 {
        font-size: 25px;
        line-height: 35px;
    }

    .main-heading {
        font-size: 35px;
        padding-left: 9px;
        padding-right: 5px;
    }

    .introduction {
        min-width: 330px;
    }

    .introduction-details {
        margin-top: -8px;
        font-size: 12px;
    }
}