.single-container {
    margin-bottom: 60px;
    padding-top: 50px;
    border-top: 1px solid #242424;
    width: 950px;
}

.about-text {
    color: var(--font-secondary-color);
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
}

.highlighted-text {
    color: var(--font-color);
}

.experience-container {
    padding-top: 50px;
    border-top: 1px solid #242424;
    width: 950px;
}

.about-heading {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 950px;
}

.about-heading > div:first-child{
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: var(--font-color);
    box-shadow: 0 0 7px 7px rgba(255, 255, 255, 0.1);
}

.about-heading > p:last-child{
    color: var(--font-secondary-color);
    font-size: 13px;
}

.achievement-container {
    display: flex;
    align-items: start;
    margin-top: 30px;
    margin-bottom: 110px;
}

.achievement-container > p {
    width: 50%;
    margin-top: 0px;
}

.achievement-details {
    width: 50%;
}

.achievement-details > p {
    margin-top: 0px;
}

.experience-heading {
    font-size: 24px;
    margin-bottom: 5px;
}

.experience-text {
    color: var(--font-secondary-color);
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
}

.signature-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}

.about-signature {
    width: 60px;
}

.mentor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    margin-top: 40px;
}

.mentor {
    width: 200px;
    text-align: center;
    font-size: 18px;
}

.mentor:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 970px) {
    .about-content {
        width: 98%;
        padding-inline: 10px;
    }

    .experience-container, .single-container, .about-heading {
        width: 100%;
    }
    
    .experience-heading {
        font-size: 18px;
    }


    .mentor-container {
        justify-content: center;
    }
}
