.card-border, .introduction-container, .about-content, .chat-button {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.card-container {
    overflow: hidden;
    width: 900px;
    height: 380px;
    margin-bottom: 80px;

    background: rgba(30, 29, 28);
    border: #333333 solid .75px;
    border-radius: 10px;

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-container:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px 10px rgba(30, 29, 28, 0.8);
}

#next-game-card {
    width: 70%;
}

#next-game-card .card-container {
    width: inherit;
}

.card-role {
    font-size: 12px;
    letter-spacing: 1.2px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
}

.card-details {
    display: flex;
    flex-direction: row;
    margin-inline: -30px; /* Negate the padding of the card */
    gap: 50px;
}

.card-content {
    position: relative;
    padding-inline: 30px;
    padding-top: 15px;
}

.card-content h2 {
    margin-bottom: 0px;
    font-size: 24px;
}

.card-content span {
    color: var(--font-secondary-color);
    font-size: 16px;
    margin-left: 10px;
}

.card-arrow {
    position: absolute;
    top: 22px;
    right: 30px;
    width: 20px;
}

.card-heading-subtext {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    color: var(--font-secondary-color);
}

.card-description {
    margin-top: 10px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.card-image {
    width: 55%;
}

.card-text {
    width: 45%;
    padding-right: 100px;
}

.card-image img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateX(-22%); 
    width: 130%;
    border: #444444 solid .75px;
}

.card-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px;
    padding-top: 10px;
}

.meta-heading {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.2);
    margin-block: 6px;
    
}

.meta-text {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin-block: 3px;
}

.games-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hide other content on load */
.about-content {
    display: none;
}

.projects-content {
    display: none;
}

@media only screen and (max-width: 918px) {
    .card-container {
        width: 350px;
        height: 500px;
        margin-bottom: 40px;
    }

    .card-content {
        padding-inline: 0px;
    }

    .card-role {
        font-size: 9px;
        letter-spacing: 1.2px;
        margin-bottom: 25px;
        padding-inline: 10px;
    }

    .card-details {
        flex-direction: column;
        margin-inline: 0px;
        gap: 5px;
    }

    .card-details h2 {
        font-size: 18px;
    }

    .card-image {
        width: 100%;
        padding-inline: 0px;
    }

    .card-image img{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        transform: translateX(0%); 
        width: 100%;
    }
    
    .card-text {
        width: 100%;
        padding-right: 0px;
        padding-inline: 10px;
    }

    .card-meta {
        padding-right: 40px;
    }

    .card-arrow {
        top: 18px;
        right: 10px;
    }
}