/** ----------- General styling ------------ **/
:root {
    --background-color: #101010;

    --font-color: #f2f2f2;
    --font-secondary-color: #787878;

    --card-color: #353535;
    --card-hover-color: #444444;
    --card-highlight-color: #555555;
}

@font-face {
    font-family: 'Baksoda';
    font-weight: normal;
    font-style: normal;
    src: url("Baksoda.ttf") format("truetype");
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: bold; /* Bold */
    font-style: normal;
    src: url("PPNeueMontreal-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: normal; /* Regular weight */
    font-style: normal;
    src: url("PPNeueMontreal-Book.otf") format("opentype");
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 500; /* Medium weight */
    font-style: normal;
    src: url("PPNeueMontreal-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 100; /* Thin weight */
    font-style: normal;
    src: url("PPNeueMontreal-Thin.otf") format("opentype");
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 600; /* Semi-bold weight */
    font-style: italic;
    src: url("PPNeueMontreal-SemiBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: normal; /* Regular weight */
    font-style: italic;
    src: url("PPNeueMontreal-Italic.otf") format("opentype");
}

* {
    font-family: Neue Montreal, Helvetica, sans-serif;
    color: var(--font-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    overflow-x: hidden;
}

p {
    font-size: 16px;
    font-weight: 500;
}

h1 {
    font-size: 80px;
    margin-top: 0px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 78px;
    text-align: left;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 600;
    margin-block: 0px;
}

a {
    text-decoration: none;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw; /* Set to viewport width */
    height: 100vh;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0) 70%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
}

/* Site wide animations */
.card-container, .introduction-container, .about-content {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.header-bar {
    margin-top: -60px;
    animation: slideIn ease-in-out .6s;
    animation-delay: .7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        margin-top: -60px;
    }

    100% {
        margin-top: 25px;
    }
}
/** ------------------------------------------ **/

/** ----------- Navigation bar ------------ **/
.header-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left circle of Kyle */
.home-icon{
    width: 50px;
    height: 50px;

    background: rgba( 255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    transition: transform 500ms ease;
}

.home-icon:hover{
    transform: scale(0.9);
}

.home-icon img {
    width: inherit;
    height: inherit;
}

.nav-identity {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-left: 25px;
}

.nav-identity-text p{
    margin-block: 0px;
}
.nav-identity-text{
    margin-left: 10px;
}

.nav-name {
    font-size: 20px;
}

.nav-role {
    font-size: 12px;
    color: var(--font-secondary-color);
}

/* Middle navigation toggle */
.nav-toggle {
    background: rgba( 255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    display: inline-block;
    height: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-inline: 5px;
    position: relative;
    transition: transform 500ms ease;
}

.nav-toggle:hover {
    transform: scale(0.97);
}

input[type=radio] {
    display: none;
}

label {
    width: 75px;
    display: inline-block;
    text-align: center;
    z-index: 5;
    position: relative;
    cursor: pointer;
    font-size: 14px; 
    font-weight: 500;
}

.selector {
    height: 40px;
    width: 75px;
    background: rgba( 255, 255, 255, 0.05);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 30px;

    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    transition: left 0.25s ease-in-out;
}

.games:checked ~ .selector{
    left: 5px;
}

.projects:checked ~ .selector{
    left: 84px;
}

.about:checked ~ .selector{
    left: 162px;
}

.desktop-nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 35px;
    margin-right: 25px;
    
}

.desktop-nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.desktop-nav a:hover{
    text-decoration: underline;
}

.desktop-nav a:hover img {
    transform: translate(2px, -2px);
}

.desktop-nav a p {
    font-size: 14px;
}

.desktop-nav a img {
    width: 18px;
    height: 18px;
    transition: transform .3s ease-in-out;
}

.nav-button-container {
    flex: 1;
    text-align: right;
    margin-right: 25px;
    display: none;
}

/* Hamburger menu */
.nav-button {
    --button-color: var(--font-color);
    background: rgba( 255, 255, 255, 0.1);
    box-shadow: 0 8px 16px 0px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    height: 50px;
    width: 50px;

    overflow: hidden;
    transition: transform 500ms ease;
    cursor: pointer;
}

.nav-button:hover {
    transform: scale(0.9);
}

.nav-button .hamburger {
    transition: translate 1s, rotate 1s;
}

.nav-button[aria-expanded="true"] .hamburger {
    --button-color: url(#linear);
    translate: 2px -2px;
    rotate: .125turn;
}

.nav-button .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
}

.nav-button[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}

.primary-navigation {
    display: none;
}
/** ------------------------------------------ **/

/** ----------- Introductory piece ------------ **/
.introduction-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 120px;
}

.intro-background-container {
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: clip;
    z-index: -199;
}

.intro-background {
    grid-column: 1 / -1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: cover;
    z-index: -198;
    animation: image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

@keyframes image-animation {
    25% {opacity: .5;}
    85%, 100% {opacity: 0; scale: 10}
}

.introduction {
    width: 60%;
    max-width: 800px;
    text-align: center;
}

.introduction-details {
    font-size: 20px;
    text-align: right;
}

.introduction-details span {
    color: var(--font-secondary-color)
}

.main-heading {
    font-family: Baksoda, cursive;
    font-size: 120px;
    animation: background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        #800080,
        #EE82EE,
        #FFC0CB,
        #800080
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 16px;
    padding-right: 8px;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}
/** ------------------------------------------ **/

/** ----------- All cards ------------ **/
.card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-height: 350px;
    max-width: 1200px;
    background: var(--card-color);
    border-radius: 30px;
    padding-top: 30px;
    margin-bottom: 100px;
    transition: transform 500ms ease, background 500ms ease;
}

.ribbon-front{
    position: absolute;
    height: 36px;
    width: 150px;
    background: #a137a1;
    top: 30px;
    right: -12px;
}

.ribbon-back{
    position: absolute;
    top: 34px;
    right: -44px;
    height: 0;
    width: 0;
    border-right: 12px solid transparent;
    border-top: 15px solid #801f80;
    margin: 2rem;
}

.ribbon-text {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.card-container:hover,
.card-container:focus-within {
    transform: scale(0.98);
    background: var(--card-hover-color);
}

.card-container .card-content {
    padding-left: 30px;
}

.card-content .card-icon {
    max-height: 25px;
    width: auto;
    background: var(--card-hover-color);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: -10px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.card-container h2{
    font-size: 22px;
    margin-bottom: -10px;
    max-width: 380px;
}

.card-container .card-heading-subtext {
    margin-bottom: 20px;
    color: #AAAAAA;
    font-size: 12px;
}

.card-description {
    font-size: 12px;
}

.card-container p {
    max-width: 380px;
}

.card-button-container {
    background: var(--card-highlight-color);
    height: 50px;
    width: 120px;
    border-radius: 10px;
    margin-top: 30px;
    padding-inline: 20px;
    filter: drop-shadow(0 0 0.5rem var(--card-color));
    cursor: pointer;
}

.card-button-container img {
    width: 18px;
    height: 18px;
    transition: transform .3s ease-in-out;
}

.card-button-container:hover img{
    transform: translate(5px, 0);
}

.card-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.card-container .card-image {
    text-align: right;
    height: 300px;
}

.card-image img {
    position: relative;
    top: 100px;
    height: 250px;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem var(--card-color));
}

.games-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hide other content on load */
.about-content {
    display: none;
}

.projects-content {
    display: none;
}
/** ------------------------------------------ **/

/** ----------- Footer ------------ **/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid #242424;
    position: relative;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    bottom: -10vw;
    padding-block: 30px;
}

.footer-rights {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 0px;
    margin-left: 60px;
}

.footer-rights p {
    text-align: left;
    margin-block: 0px;
}

.footer-rights p:nth-of-type(1){
    margin-top: 75px;
    font-size: 16px;
}

.footer-rights p:nth-of-type(2){
    margin-top: 5px;
    color: var(--font-secondary-color);
    font-size: 14px;
}

.footer-contact {
    margin-right: 60px;
}

.footer-contact > p:first-child{
    color: var(--font-secondary-color);
    font-size: 11px;
    text-align: right;
}

.footer-contact a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 8px;
}

.footer-contact a:hover{
    text-decoration: underline;
}

.footer-contact a:hover img {
    transform: translate(2px, -2px);
}

.footer-contact a p {
    font-size: 16px;
}

.footer-contact a img {
    width: 18px;
    height: 18px;
    transition: transform .3s ease-in-out;
}

.footer-contact > p:last-child{
    margin-top: 110px;
    color: var(--font-secondary-color);
    text-align: right;
    font-size: 11px;
}

footer img {
    width: 100px;
    height: 100px;
}
/** ------------------------------------------ **/

/** ----------- Media Queries ------------ **/
@media only screen and (max-width: 784px) {
    .card-image img {
        top: 50px;
    }

    h1 {
        font-size: 48px;
        line-height: 46px;
    }

    .introduction {
        min-width: 480px;
    }

    .main-heading {
        font-size: 72px;
        padding-left: 9px;
        padding-right: 5px;
    }

    .introduction-details {
        font-size: 16px;
        text-align: right;
    }
    
    p {
        font-size: 14px;
    }

    .home-icon {
        margin-left: 10px;
    }

    .desktop-nav {
        display: none;
    }

    .nav-button-container{
        display: block;
        flex: 0;
        margin-right: 10px;
        margin-left: 10px;
    }

    .nav-button {
        margin: 0;
    }

    .primary-navigation {
        position: absolute;
        right: 10px;
        top: 60px;
        
        width: 130px;
        height: 105px;

        background: rgba( 255, 255, 255, 0.1);
        box-shadow: 0 8px 16px 0px rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );    

        transform-origin: top right;
        filter: drop-shadow(0 0 0.75rem #222222);
        animation: slideUp ease-in-out .3s;
        animation-fill-mode: forwards;
    }

    @keyframes slideUp {
        0% {
            transform: scale(1);
            opacity: 1;
        }
    
        100% {
            transform: scale(0.4);
            opacity: 0;
            display: none;
        }
    }
    
    .nav-list {
        list-style: none;
        padding-inline: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .nav-option {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        border-radius: 10px;
        justify-content: right;
        width: 120px;
        height: 45px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .nav-option p {
        text-align: right;
    }

    .nav-option:hover {
        cursor: pointer;
        background: rgba( 255, 255, 255, 0.05);
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);
        border-radius: 10px;
    }

    .nav-option:hover img {
        transform: translate(2px, -2px);
    }
    
    .nav-list img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        transition: transform .3s ease-in-out;
    }

    .primary-navigation[data-visible] {
        display: block;
        animation: slideDown ease-in-out .3s;
    }
    
    @keyframes slideDown {
        0% {
            transform: scale(0.4);
            opacity: 0;
        }
    
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    .nav-identity {
        margin-left: 0px;
    }

    .card-container h2{
        font-size: 20px;
        max-width: 230px;
    }

    .card-container .card-heading-subtext {
        font-size: 12px;
    }

    .card-container p {
        max-width: 230px;
    }

    .card-image img {
        top: 65px;
        height: 185px;
    }

    .card-button-container { 
        height: 45px;
        width: 110px;
    }

    .card-container .card-image {
        height: 250px;
    }

    .footer-rights {
        margin-left: 10px;
    }

    .footer-contact {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 719px) and (max-width: 784px){
    .card-image img {
        top: 150px;
        height: 200px;
    }
}

@media only screen and (min-width: 785px) and (max-width: 1000px){
    .card-image img {
        top: 50px;
    }
}

@media only screen and (min-width: 1144px) and (max-width: 1329px){
    .card-container {
        width: 70%;
    }
}

@media only screen and (min-width: 856px) and (max-width: 1000px){
    .stories-content .card-image img{
        top: 100px;
    }
}

@media only screen and (min-width: 603px) and (max-width: 718px){
    .stories-content .card-image img{
        top: 150px;
    }
}

@media only screen and (min-width: 1330px) {
    .card-container {
        width: 60%;
    }
}
/** ------------------------------------------ **/