body > *:not(header) {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Fixes header animation glitch */
header {
  position: relative;
  z-index: 990;
  animation: fadeInAnimation ease 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Project page navigation */
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-navigation {
  position: fixed;
  top: 150px;
  right: 8%;
  z-index: 10;
}

.page-navigation > p {
  font-size: 11px;
  color: var(--font-secondary-color);
  letter-spacing: 1.1px;
  margin-bottom: 20px;
}

.extras-navigation-heading {
  border-top: 1px solid #242424;
  margin-top: 30px;
  padding-top: 30px;
}

li {
  margin-bottom: 20px;
}

li a {
  font-size: 11px;
  color: var(--font-secondary-color);
  font-weight: 400;
}

li:hover a {
  filter: brightness(1.5);
}

li a.active {
  color: var(--font-color);
}

/* Opening section structure */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 200vh;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0) 70%
  );
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;
}

.back-button {
  position: fixed;
  display: flex;
  width: max-content;
  gap: 8px;
  top: 30px;
  left: 40px;

  pointer-events: auto;
}

.back-button img {
  width: 18px;
  transition: transform 0.3s ease-in-out;
}

.back-button:hover p {
  text-decoration: underline;
}

.back-button:hover img {
  transform: translate(-3px, 0px);
}

.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-top: 100px;
  margin-bottom: 20px;
}

.opening h1 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 0px;
  text-align: center;
}

.intro-subheading {
  color: var(--font-secondary-color);
  text-align: center;
}

.external-link {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.external-link p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.external-link img {
  width: 18px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 0px;
  margin-top: 0px;
}

.external-link:hover p {
  text-decoration: underline;
}

.external-link:hover img {
  transform: translate(2px, -2px);
}

.external-link:hover .download-icon {
  transform: translate(0px, 2px);
}

/* General structure */
.game-sub-overview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-sub-container {
  padding-top: 50px;
  margin-top: -30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

/* For js purposes */
.unique-game-sub-container {
  padding-top: 50px;
  margin-top: -30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.game-sub-heading {
  display: flex;
  align-items: center;
  border-top: 1px solid #242424;
  padding-top: 50px;
  gap: 10px;
  width: 70%;
}

.game-sub-heading > div:first-child {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: var(--font-color);
  box-shadow: 0 0 7px 7px rgba(255, 255, 255, 0.1);
}

.game-sub-heading > p:last-child {
  color: var(--font-secondary-color);
  font-size: 13px;
}

.card-container {
  margin-top: 60px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 970px) {
  body {
    overflow-x: hidden !important;
  }

  body::before {
    display: none;
  }

  /* Opening section structure */
  .back-button p {
    display: none;
  }

  .back-button {
    position: fixed;
    top: 15px;
    left: 15px;

    background: rgba(30, 29, 28, 0.4);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 50%;
    border: var(--content-border-color) solid var(--content-border-size);

    padding: 16px;
    z-index: 99;
  }

  .opening {
    padding-top: 60px;
  }

  .opening h1 {
    font-size: var(--mobile-heading-size);
    line-height: 1.2;
    width: 98%;
  }

  .intro-subheading {
    font-size: var(--mobile-body-size);
    margin-top: 4px;
  }

  .opening img {
    border-radius: 10px;
    width: 98%;
  }

  .external-link {
    margin-top: 10px;
  }

  .external-link p {
    font-size: 12px;
  }

  .external-link img {
    width: 14px;
  }

  /* General structure */
  .game-sub-heading {
    padding-top: 30px;
    gap: 10px;
    width: 98%;
  }

  .card-container {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  /* Project page navigation */
  .page-navigation {
    display: none;
  }
}
